<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block styles %}
        <link rel="stylesheet" href="{{ paths.assets }}index.css">
    {% endblock %}
</head>
<body data-module="{{ module.id }}">
{% block appHeader %}
<!-- header newsletter -->
{% endblock %}

{% block main %}
<main>
    {% block content %}
    {% endblock %}
</main>
{% endblock %}

{% block appFooter %}
<!-- footer newsletter -->
{% endblock %}

{% block scripts %}
    <script>{% include "components/_app-debug/app-debug.js" %}</script>
    <style type="text/css">{% include "components/_app-debug/app-debug.css" %}</style>
{% endblock %}
</body>
</html>