// Colors
$brand-default:		black;
$brand-highlight:	#428bca;
$brand-success:		#5cb85c;
$brand-info:		#5bc0de;
$brand-warning:		#f0ad4e;
$brand-danger:		#d9534f;

// Fonts
$line-height-base: 24px;
$font-weight-base: 400;
$font-weight-semibold: 600;

// Breakpoints
$bp-small: 360px;
$bp-medium: 500px;
$bp-large: 750px;

$path-to-assets: ''; // index.css is in the dist/assets/ so the relative path will just be an empty string

$default-radius: 2px;

$max-width: 600px; // Width of e-mail content.
