$brand-default:		black;
$brand-highlight:	#428bca;
$brand-success:		#5cb85c;
$brand-info:		#5bc0de;
$brand-warning:		#f0ad4e;
$brand-danger:		#d9534f;

$path-to-assets: ''; // index.css is in the dist/assets/ so the relative path will just be an empty string

$line-height-base: 24px;
$font-weight-base: 400;
$font-weight-semibold: 600;

$default-radius: 2px;

$max-width: 600px;
