/* welcome view */
// add style rules for this view.
/* /welcome view */
body {
	background: #ffffff;
}

.welcome-view {
	font-family: 'open sans', helvetica, arial, sans-serif;

	.intro-header {
		background: #58b2bd;

		hr {
			border: none;
			height: 1px;
			background-color: #6ac2cc;
		}
	}

	.intro-header-credits {
		margin: 0 auto;
		width: 800px;
		padding: 20px 0 15px;

		a {
			color: #fff;

			&:hover {
				color: #00373d;
			}
		}
	}

	.intro-header-content {
		padding: 100px 0;
		margin: 0 auto;
		width: 800px;
		text-align: center;
		color: #fff;
		font-size: 28px;
		text-shadow: 0 1px 1px rgba(0,0,0,0.3);

		h1 {
			color: #fff;
			font-size: 64px;

		}
	}


	.main-content {
		background: #ffffff;
		margin: 0 auto;
		width: 800px;
		padding: 20px 0;

		font-size: 16px;
		line-height: 24px;
	}



	h1,
	h2 {
		color: #00373d;
		font-family: arial, sans-serif;
		font-weight: 400;
		line-height: 1.6;
		margin: 0;
	}

	a {
		color: #58b2bd;
		cursor: pointer;
		background: 0 0;
		text-decoration: none;

		&:hover {
			color: #0f4c53;
		}
	}
}